  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>SLCPython</title>

    <script type="text/javascript" src="{% static "js/app.js" %}"></script>
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">SLCPython</h3>
          <nav class="nv nav-masthead justify-content-center">
            <a href="#" class="nav-link active"></a>
            <a href="#" class="nav-link"></a>
            <a href="#" class="nav-link"></a>
          </nav>
        </div>
      </header>
      <main rol="main" class="inner cover">
        <h1 class="cover-heading">Under Construction</h1>
        <p class="lead">for now</p>
        <p>
          Howdy SLCPythoners. We're re-constructing the site to be more robust and
          devops-friendly. Please check back in mid-August 2016!
        </p>

        <p>
          Until then, please visit our main meetup site:
          <a href="https://meetup.com/SLCPython">meetup.com/SLCPython</a>
        </p>
      </main>
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>footer</p>
        </div>
      </footer>
    </div>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
