{% extends "home/_base.html" %}
{% load static %}

{% block title %}
SLCPython
{% endblock %}

{% block content %}
    <pre>
      <code class="python">
        >>> from utah import slcpython
        >>> slcpython.howdy()
        Howdy, Salt Lake City!
        "Our next meetup is on:"
        "{{ next_meetup.date|date:"l, F jS" }}, at {{ next_meetup.date|date:'P' }}"
        "and is about:"
        "Streamlit with Scott Cronin & Onboarding to AWS w/Python & Cloud9 With Noah Gift"
      </code>
    </pre>

  <div>
    <a href="https://meetup.com/SLCPython" target="_blank" role="button" class="btn btn-danger btn-lg btn-block">
      Join Us
    </a>
  </div>
{% endblock %}
